<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      body {
        background-color: #212529;
        color: #e9ecef;
      }
      
      h3 {
        text-align: center;
        margin-top: 50px;
        color: #f8f9fa;
      }
      
      h2 {
        text-align: center;
        margin-top: 50px;
        color: #f8f9fa;
      }
      
      #roll {
        text-align: center;
        margin: 20px;
      }

      .table {
        background-color: #343a40;
        color: #e9ecef;
      }

      .table-success {
        --bs-table-bg: #1a472a;
        --bs-table-striped-bg: #2a533a;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #2a533a;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #2a533a;
        --bs-table-hover-color: #fff;
        color: #fff;
      }

      .navbar-dark {
        background-color: #0d6efd !important;
      }

      .container {
        background-color: #212529;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/cdiv">Back to Student display</a> -->
         <%if(data[0].rollNo<=63){%><a class="navbar-brand" href="/cdiv">Back to Student Display</a><%}else if(data[0].rollNo>63 && data[0].rollNo<=126){%><a class="navbar-brand" href="/ddiv">Back to Student Display</a><%}else{%><a class="navbar-brand" href="/ediv">Back to Student Display</a><%}%>
      </div>
    </nav>
    <h3>Welcome <%= data[0].name %></h3>
    <h3 id="roll">PRN no. 124A10<%=data[0].rollNo%></h3>
    <h2>SEM-I marksheet</h2>
    <div class="container">
    <table class="table table-success table-striped-columns table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">Subjects</th>
          <th scope="col">ESE</th>
          <th scope="col">ISE</th>
          <th scope="col">MSE</th>
          <th scope="col">TOT</th>
          <th scope="col">Classes Present</th>
          <th scope="col">Attendance %</th>
          <th scope="col">Pass/Fail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Applied Mathematics</th>
          <td><%= data[0].subjects.applied_mathematics.ese %></td>
          <td><%= data[0].subjects.applied_mathematics.ise %></td>
          <td><%= data[0].subjects.applied_mathematics.mse %></td>
          <td><%= data[0].subjects.applied_mathematics.total %></td>
          <td><%= atten[0].attendance['AM'].lectures %>/<%if(data[0].rollNo<=63){%>32<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>33<%}%></td>
          <td><%= atten[0].attendance['AM'].percentage %> %</td>
          <td><%if(data[0].subjects.applied_mathematics.ese>=24 && data[0].subjects.applied_mathematics.ise>= 8 && data[0].subjects.applied_mathematics.mse>= 8){%>Pass<%}else{%>Fail<%}%></td>
        </tr>
        <tr>
          <th scope="row">Applied Physics</th>
          <td><%= data[0].subjects.applied_physics.ese %></td>
          <td><%= data[0].subjects.applied_physics.ise %></td>
          <td><%= data[0].subjects.applied_physics.mse %></td>
          <td><%= data[0].subjects.applied_physics.total %></td>
          <td><%= atten[0].attendance['AP/AC'].lectures %>/<%if(data[0].rollNo<=63){%>31<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>30<%}%></td>
          <td><%= atten[0].attendance['AP/AC'].percentage %> %</td>
          <td><%if(data[0].subjects.applied_physics.ese>=24 && data[0].subjects.applied_physics.ise>= 8 && data[0].subjects.applied_physics.mse>= 8){%>Pass<%}else{%>Fail<%}%></td>
        </tr>
        <tr>
          <th scope="row">BEEE</th>
          <td><%= data[0].subjects.beee.ese %></td>
          <td><%= data[0].subjects.beee.ise %></td>
          <td><%= data[0].subjects.beee.mse %></td>
          <td><%= data[0].subjects.beee.total %></td>
          <td><%= atten[0].attendance['BEE'].lectures%>/<%if(data[0].rollNo<=63){%>25<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>32<%}%></td>
          <td><%= atten[0].attendance['BEE'].percentage %> %</td>
          <td><%if(data[0].subjects.beee.ese>=18 && data[0].subjects.beee.ise>= 6 && data[0].subjects.beee.mse>= 6){%>Pass<%}else{%>Fail<%}%></td>
        </tr>
        <tr>
          <th scope="row">C-Programming</th>
          <td><%= data[0].subjects.c_programming.ese %></td>
          <td><%= data[0].subjects.c_programming.ise %></td>
          <td><%= data[0].subjects.c_programming.mse %></td>
          <td><%= data[0].subjects.c_programming.total %></td>
          <td><%= atten[0].attendance['CP'].lectures%>/<%if(data[0].rollNo<=63){%>25<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>18<%}%></td>
          <td><%= atten[0].attendance['CP'].percentage %> %</td>
          <td><%if(data[0].subjects.c_programming.ese>=18 && data[0].subjects.c_programming.ise>= 6 && data[0].subjects.c_programming.mse>= 6){%>Pass<%}else{%>Fail<%}%></td>
        </tr>
        <tr>
          <th scope="row">AMRD</th>
          <td><%= data[0].subjects.amrd.ese %></td>
          <td><%= data[0].subjects.amrd.ise %></td>
          <td><%= data[0].subjects.amrd.mse %></td>
          <td><%= data[0].subjects.amrd.total %></td>
          <td><%= atten[0].attendance['AMRD'].lectures%>/<%if(data[0].rollNo<=63){%>23<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>23<%}%></td>
          <td><%= atten[0].attendance['AMRD'].percentage %> %</td>
          <td><%if(data[0].subjects.amrd.ese>=18 && data[0].subjects.amrd.ise>= 6 && data[0].subjects.amrd.mse>= 6){%>Pass<%}else{%>Fail<%}%></td>
        </tr>
        <tr>
          <th scope="row">Applied Physics Lab</th>
          <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.applied_physics_lab %></td>
          <td><%= atten[0].attendance['AP/AC (Lectures)'].lectures%>/<%if(data[0].rollNo<=63){%>7<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>6<%}%></td>
          <td><%= atten[0].attendance['AP/AC (Lectures)'].percentage %>%</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">BEEE Lab</th>
          <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.beee_lab %></td>
          <td><%= atten[0].attendance['BEE (Lectures)'].lectures%>/<%if(data[0].rollNo<=63){%>7<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>7<%}%></td>
          <td><%= atten[0].attendance['BEE (Lectures)'].percentage %> %</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">CP Lab</th>
          <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.cp_lab %></td>
          <td><%= atten[0].attendance['CP (Lectures)'].lectures%>/<%if(data[0].rollNo<=63){%>6<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>8<%}%></td>
          <td><%= atten[0].attendance['CP (Lectures)'].percentage %> %</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">AMRD Lab</th>
          <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.amrd_lab %></td>
          <td><%= atten[0].attendance['AMRD - Workshop'].lectures%>/<%if(data[0].rollNo<=63){%>9<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>8<%}%></td>
          <td><%= atten[0].attendance['AMRD - Workshop'].percentage %> %</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Workshop</th>
          <td colspan="2"><strong>Grade points:- </strong><%= data[0].additional_courses.workshop.grade_points %></td>
          <td colspan="2"><strong>Grade:- </strong><%= data[0].additional_courses.workshop.grade %></td>
          <td><%= atten[0].attendance['Workshop'].lectures%>/<%if(data[0].rollNo<=63){%>6<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>8<%}%></td>
          <td><%= atten[0].attendance['Workshop'].percentage %> %</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">HWM</th>
          <td colspan="2"><strong>Grade points:- </strong><%= data[0].additional_courses.health_wellness.grade_points %></td>
          <td colspan="2"><strong>Grade:- </strong><%= data[0].additional_courses.health_wellness.grade %></td>
          <td><%= atten[0].attendance['HWM'].lectures %>/<%if(data[0].rollNo<=63){%>14<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>14<%}%></td>
          <td><%= atten[0].attendance['HWM'].percentage %> %</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">UHV</th>
          <td colspan="2"><strong>Grade points:- </strong><%= data[0].additional_courses.universal_human_values.grade_points %></td>
          <td colspan="2"><strong>Grade:- </strong><%= data[0].additional_courses.universal_human_values.grade %></td>
          <td><%= atten[0].attendance['UHV'].lectures%>/<%if(data[0].rollNo<=63){%>22<%}else if(data[0].rollNo>=63 && data[0].rollNo<=126 ){%>24<%}%></td>
          <td><%= atten[0].attendance['UHV'].percentage %> %</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p style="white-space: pre; font-size: larger;" class="fw-bold text-light">Total marks obtained: <%=data[0].total_marks%>/675</p>
    <p style="white-space: pre; font-size: larger;" class="fw-bold text-light">SGPI: <%=data[0].sgpi%></p>
    <p style="white-space: pre; font-size: larger;" class="fw-bold text-light">Your email is: <%=email%></p>
    <% if (data[0].result === 'P') { %>
      <p style="white-space: pre; font-size: larger; color: #198754;" class="text-center mt-3 fw-bold">
          Pass! Congratulations
      </p>
    <% } else if (data[0].result === 'P*') { %>
      <p style="white-space: pre; font-size: larger; color: #198754;" class="text-center mt-3 fw-bold">
          Pass ! But you have failed in one subject !!
      </p>
    <% } else { %>
      <p style="white-space: pre; font-size: larger; color: #dc3545;" class="text-center mt-3 fw-bold">
          Fail! Please apply for re-exams
      </p>
    <% } %>

    <div class="container">
      <table class="table table-success table-striped-columns table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">9.15-10.15</th>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> <p>PCTL-VE-316</p> <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> <p></p> <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%><p></p><%}%> </td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> <p></p> <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> <p></p> <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> <p>ACL-SL-325</p> <%}%></td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%>  <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> ACL-SL-325 <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> PCTL-VE-318 <%}%></td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> <p></p> <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> <p>ACL-SL-325</p> <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> <p>PCTL-VE-318</p> <%}%></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10.15-11.15</th>
            <td> AC-SL-304 </td>
            <td>DSD-BL-302</td>
            <td>AC-SL-302</td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> <p>EGL-SP-L5</p> <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> <p>DSDL-BL-321</p> <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> <p>OOPML-SK-307</p> <%}%></td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%>  <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> <p>PCTL-VE-316</p>  <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%>  <%}%></td>
          </tr>
          <tr>
            <th scope="row">11.15-12.15</th>
            <td > PCT-VE-304 </td>
            <td> EG-MAA-302 </td>
            <td> PCT-VE-302 </td>
            <td>AM-II-G-303</td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> OOPML-SK-307 <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> EGL-KMT-L5  <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> DSDL-BL-321 <%}%></td>
          </tr>
          <tr>
            <th scope="row">12.15-1.05</th>
            <td > AM-II-AG-304 </td>
            <td> OOPM-SK-302 </td>
            <td>EG-MAA-302</td>
            <td>LIBRARY</td>
            <td><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> OOPML-SK-307 <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> EGL-KMT-L5  <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> DSDL-BL-321 <%}%></td>
          </tr>
          <tr>
            <th scope="row">Break</th>
            <td >Break</td>
            <td>Break</td>
            <td>Break</td>
            <td>Break</td>
            <td>Break</td>
          </tr>
          <tr>
            <th scope="row">1.35-2.35</th>
            <td ><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> DSDL-BL-321 <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> OOPML-AP-307  <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> EGL-KMT-L5 <%}%> </td>
            <td></td>
            <td>EW-II SR/AG</td>
            <td>AC-SL-303</td>
            <td>OOPM-SK-302</td>
          </tr>
          <tr>
            <th scope="row">2.35-3.35</th>
            <td ><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> DSDL-BL-321 <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%> OOPML-AP-307  <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%> EGL-KMT-L5 <%}%></td>
            <td></td>
            <td>EW-II SR/AG</td>
            <td>IKS-VE-303</td>
            <td>DSD-BL-302</td>
          </tr>
          <tr>
            <th scope="row">3.35-4.35</th>
            <td ><%if(data[0].rollNo>=1 && data[0].rollNo<=21){%> ACL-SL-325 <%} else if(data[0].rollNo>=22 && data[0].rollNo<=42){%>  <%}else if(data[0].rollNo>=43 && data[0].rollNo<=63){%>  <%}%></td>
            <td></td>
            <td>DSD-BL-303</td>
            <td>IKS-VE-303</td>
            <td>AM-II-AG-302</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>