<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      h3{
            text-align: center;
            margin-top: 50px;
        }
        h2{
            text-align: center;
            margin-top: 50px;
        }
        
        #roll{
            text-align: center;
            margin: 20px
        }
    </style>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Student SGPI Portal</a>
      </div>
    </nav>
    <h3>Welcome <%= data[0].name %></h3>
    <h3 id="roll">PRN no. 124A10<%=data[0].rollNo%></h3>
    <h2>SEM-I marksheet</h2>
    <div class="container">
    <table  class="table table-success table-striped-columns table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">Subjects</th>
          <th scope="col">ESE</th>
          <th scope="col">ISE</th>
          <th scope="col">MSE</th>
          <th scope="col">TOT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Applied Mathematics</th>
          <td><%= data[0].subjects.applied_mathematics.ese %></td>
          <td><%= data[0].subjects.applied_mathematics.ise %></td>
          <td><%= data[0].subjects.applied_mathematics.mse %></td>
          <td><%= data[0].subjects.applied_mathematics.total %></td>
        </tr>
        <tr>
          <th scope="row">Applied Physics</th>
          <td><%= data[0].subjects.applied_physics.ese %></td>
          <td><%= data[0].subjects.applied_physics.ise %></td>
          <td><%= data[0].subjects.applied_physics.mse %></td>
          <td><%= data[0].subjects.applied_physics.total %></td>
        </tr>
        <tr>
          <th scope="row">BEEE</th>
          <td><%= data[0].subjects.beee.ese %></td>
          <td><%= data[0].subjects.beee.ise %></td>
          <td><%= data[0].subjects.beee.mse %></td>
          <td><%= data[0].subjects.beee.total %></td>
        </tr>
        <tr>
          <th scope="row">C-Programming</th>
          <td><%= data[0].subjects.c_programming.ese %></td>
          <td><%= data[0].subjects.c_programming.ise %></td>
          <td><%= data[0].subjects.c_programming.mse %></td>
          <td><%= data[0].subjects.c_programming.total %></td>
        </tr>
        <tr>
          <th scope="row">AMRD</th>
          <td><%= data[0].subjects.amrd.ese %></td>
          <td><%= data[0].subjects.amrd.ise %></td>
          <td><%= data[0].subjects.amrd.mse %></td>
          <td><%= data[0].subjects.amrd.total %></td>
        </tr>
        <tr>
          <th scope="row">Applied Physics Lab</th>
          <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.applied_physics_lab %></td>
        <tr>
          <tr>
            <th scope="row">BEEE Lab</th>
            <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.beee_lab %></td>
          <tr>
            <tr>
              <th scope="row">CP Lab</th>
              <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.cp_lab %></td>
            <tr>
              <tr>
                <th scope="row">AMRD Lab</th>
                <td colspan="4"><strong>Total marks: </strong><%= data[0].subjects.lab.amrd_lab %></td>
              <tr>
          <th scope="row">Workshop</th>
          <td colspan="2"><strong>Grade points:- </strong><%= data[0].additional_courses.workshop.grade_points %></td>
          <td colspan="2"><strong>Grade:- </strong><%= data[0].additional_courses.workshop.grade %></td>
        </tr>
       <tr>
          <th scope="row">HWM</th>
          <td colspan="2"><strong>Grade points:- </strong><%= data[0].additional_courses.health_wellness.grade_points %></td>
          <td colspan="2"><strong>Grade:- </strong><%= data[0].additional_courses.health_wellness.grade %></td>
        </tr> 
        <tr>
          <th scope="row">UHV</th>
          <td colspan="2"><strong>Grade points:- </strong><%= data[0].additional_courses.universal_human_values.grade_points %></td>
          <td colspan="2"><strong>Grade:- </strong><%= data[0].additional_courses.universal_human_values.grade %></td>
        </tr>
      </tbody>
    </table>
     <p style="white-space: pre; font-size: larger;"class="fw-bold">Total marks obtained: <%=data[0].total_marks%>/675</p>
     <p style="white-space: pre; font-size: larger;"class="fw-bold">SGPI: <%=data[0].sgpi%></p>
     <p style="white-space: pre; font-size: larger;"class="fw-bold">Your email is: <%=email%></p>
     <!-- <p style="white-space: pre; font-size: larger;"class="fw-bold">Status: <%=data[0].result%><% if (data[0].result==='P') { %>ass! Congratulations<% } else { %>ail! Please apply for Re-exams<% } %></p> -->
      <% if(data[0].result==='P'){%><p  style="white-space: pre; font-size: larger; color: #198754;"class="text-center mt-3 fw-bold">Pass! Congratulations</p><%} else{%><p  style="white-space: pre; font-size: larger; color: #dc3545;"class="text-center mt-3 fw-bold">Fail! Please apply for re-exams</p><%}%>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>